#header4-1 H1 {
  color: #000000;
  font-size: 36px;
}
#header4-1 P {
  color: #000000;
  text-align: center;
}
#msg-box4-35 .mbr-header__text {
  color: #000000;
}
#msg-box4-35 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#msg-box4-35 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-36 .mbr-header__text {
  color: #000000;
}
#msg-box4-36 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-36 .mbr-article {
  color: #ffffff;
}
#msg-box4-36 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-9 .mbr-header__text {
  color: #000000;
}
#msg-box4-9 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-9 .mbr-article {
  color: #ffffff;
}
#msg-box4-9 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-9 .mbr-header__text SPAN {
  text-align: left;
}
#menu-19 .mbr-brand__name {
  font-size: 16px;
}
#menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-28 P {
  color: #000000;
}
#msg-box4-38 .mbr-header__text {
  color: #000000;
}
#msg-box4-38 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-38 .mbr-article {
  color: #ffffff;
}
#msg-box4-38 .mbr-article P {
  color: #000000;
}
#msg-box4-39 .mbr-header__text {
  color: #000000;
}
#msg-box4-39 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-39 .mbr-article {
  color: #ffffff;
}
#msg-box4-39 .mbr-article P {
  color: #000000;
}
#msg-box4-40 .mbr-header__text {
  color: #000000;
}
#msg-box4-40 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-40 .mbr-article {
  color: #ffffff;
}
#msg-box4-40 .mbr-article P {
  font-size: 14px;
}
#msg-box4-33 .mbr-header__text {
  color: #ffffff;
}
#msg-box4-33 .mbr-header__subtext {
  color: #ffffff;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-article P {
  font-size: 14px;
}
#msg-box4-33 .btn {
  font-size: 13px;
}
#msg-box4-36 .mbr-header__text {
  color: #000000;
}
#msg-box4-36 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-36 .mbr-article {
  color: #ffffff;
}
#msg-box4-36 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-37 .mbr-header__text {
  color: #000000;
}
#msg-box4-37 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-37 .mbr-article {
  color: #ffffff;
}
#msg-box4-37 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-34 .mbr-header__text {
  color: #000000;
}
#msg-box4-34 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-34 .mbr-article {
  color: #ffffff;
}
#msg-box4-34 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-35 .mbr-header__text {
  color: #000000;
}
#msg-box4-35 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-35 .mbr-article {
  color: #ffffff;
}
#msg-box4-35 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-32 .mbr-header__text {
  color: #000000;
}
#msg-box4-32 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-32 .mbr-article {
  color: #ffffff;
}
#msg-box4-32 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#msg-box4-33 .mbr-header__text {
  color: #000000;
}
#msg-box4-33 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-33 .mbr-article {
  color: #ffffff;
}
#msg-box4-33 .mbr-article P {
  color: #000000;
}
#msg-box4-31 .mbr-header__text {
  color: #000000;
}
#msg-box4-31 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-31 .mbr-article {
  color: #ffffff;
}
#msg-box4-31 .mbr-article P {
  color: #000000;
  font-size: 14px;
}
#menu-19 .mbr-brand__name {
  font-size: 16px;
}
#menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#msg-box4-29 .mbr-header__text {
  color: #000000;
}
#msg-box4-29 .mbr-header__subtext {
  color: #000000;
}
#msg-box4-29 .mbr-article {
  color: #000000;
}
#msg-box4-29 .mbr-article P {
  color: #000000;
}
#features1-27 P {
  color: #000000;
}
#features1-27 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#menu-19 .mbr-brand__name {
  font-size: 16px;
}
#menu-19.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-19 .mbr-navbar__hamburger {
  color: #ffffff;
}
#features1-26 P {
  color: #000000;
}
#features1-26 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#features1-30 P {
  color: #000000;
}
#features1-30 .mbr-section-title .mbr-header__text {
  font-size: 30px;
}
#content1-25 P {
  color: #000000;
}
#content1-25 H3 {
  text-align: left;
}
#msg-box3-26 .mbr-header .mbr-header__text {
  text-align: center;
  font-size: 19px;
}
#msg-box3-26 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-27 .mbr-brand__name {
  font-size: 16px;
}
#menu-27.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-27 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-23 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-23 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-23 .mbr-article {
  color: #fff;
}
#content5-23 .mbr-article P {
  color: #000000;
}
#menu-27 .mbr-brand__name {
  font-size: 16px;
}
#menu-27.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
